.contents
  .header
    %img
      = image_tag '/assets/logo_mercari.png', alt: 'mercari', class: 'header__img'
    .header__progress
      %li.header__progress__advance.active
        会員情報
        .header__progress__advance__point
      %li.header__progress__advance.active
        電話番号認証
        .header__progress__advance__point
      %li.header__progress__advance.active
        お届け先住所入力
        .header__progress__advance__point
      %li.header__progress__advance
        支払い方法
        .header__progress__advance__point
      %li.header__progress__advance
        完了
        .header__progress__advance__point
  .main-content
    = form_for @user, url: step5_signup_index_path, method: :get, html: {class: 'first-main__box'} do |f|
      .main-content__title
        %h2 発送元・お届け先住所入力
      .main-content__form
        .main-content__form__box
          .form__block
            = f.label :お名前
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :お名前カナ
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :郵便番号
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :都道府県
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :市区村町
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :番町
            %span.form__block__required
              必須
            %br/
          .form__block
            = f.label :建物名
            %span.form__block__discretion
              任意
            %br/
          .form__block
            = f.label :電話
            %span.form__block__discretion
              任意
            %br/
          .form__actions
            = f.submit "次へ進む", class: 'progress-btn'
  .entry-footer
    =render '/entry/entry-footer'          