.main_product_buy_container
  %section.buy-product-container.l-single-container
    %h2.l-single-head 購入内容の確認
    %section.buy-content.buy-product
      .buy-content-inner
        .buy-product-box
          %h3.buy-product-image
            = image_tag "data:image/*;base64,#{@product_image[0]}", class:"lazyloaded"
          .buy-product-detail
            %p.buy-product-name
              = @product_name
            %p.buy-price-ja.bold
              %span
                = '¥' + @price
              %span.product-shipping-fee
                = ' （税込）' + @shipping_charge_name

    %section.buy-content.buy-item
      .buy-content-inner
        = form_for @product_status ,class:"buy-form",method:"POST",novalidate:"novalidate" do |f|
          %ul.buy-price-table
            %li.buy-price-row.buy-you-pay.bold
              .buy-price-cell
                支払い金額
              .buy-price-cell
                %span
                  = '¥' + @price

            - if @credit_card
              %section.buy-content.buy-user-info
                .buy-content-inner
                  .clearfix
                    %h3.l-left 支払い方法
                    = link_to card_mypage_index_path,class:"buy-user-info-fix" do
                      変更する
                  %p.buy-user-info-text
                    クレジットカード
                    %br
                    = @credit_card_number
                    %br
                    = "有効期限 #{@credit_card_expiration_date_month +' / '+ @credit_card_expiration_date_year}"
                  %figure.buy-card-logo
                    = image_tag "/images/visa.svg", size: "32x20", alt: "jcb"
            - else
              %section.buy-content.buy-user-info
                .buy-content-inner
                  .clearfix
                    %h3.l-left 支払い方法
                  = link_to cardcreate_mypage_index_path do
                    .buy-user-info-text-link
                      登録してください


            - if @user.address_zipcode && @user.address_prefecture && @user.address_city && @user.address_block && @user.address_first_name && @user.address_last_name
              %section.buy-content.buy-user-info
                .buy-content-inner
                  .clearfix
                    %h3.l-left 配送先
                    = link_to '#',class:"buy-user-info-fix" do
                      変更する
                  %address.buy-user-info-text
                    = "〒#{@user.address_zipcode.to_s.insert(3, '-')}"
                    %br
                    = "#{@user.address_prefecture} #{@user.address_city} #{@user.address_block} #{@user.address_building}"
                    %br
                    = "#{@user.address_first_name + @user.address_last_name}"
                  %p.buy-user-info-text
            - else
              %section.buy-content.buy-user-info
                .buy-content-inner
                  .clearfix
                    %h3.l-left 配送先
                  = link_to '#' do
                    .buy-user-info-text-link
                      登録してください


            %section.buy-content.buy-user-info
              = link_to 'javascript:void(0)', class:"product-buy-btn", id:"buysubmitflag" do
                購入する
