.main_product_buy_container
  %section.buy-product-container.l-single-container
    %h2.l-single-head
      購入内容の確認
    %section.buy-content.buy-product
      .buy-content-inner
        %h3.buy-product-image
        = image_tag 'm50773888918_1.jpg', class:"lazyloaded"
        %p.buy-product-name.bold
          新品同様ヴィトンフラットシューズ 24.5
        %form{class:"buy-form",method:"POST"}
          %p.buy-price-ja.bold
            ¥23,300
            %span.product-shipping-fee.f14.bold
              送料込み
          %ul.buy-price-table
            %li.buy-price-row.buy-you-pay.bold
              .buy-price-cell
                支払い金額
              .buy-price-cell
                %span ¥23,300
          %button.btn-default.btn-red.bold
            購入する

    %section.buy-content.buy-user-info
      .buy-content-inner
        %h3 配送先
        %address.buy-user-info-text
          〒466-0000
          %br
          愛知県名古屋市１丁目１−１−１
          %br
          山田太郎
        %p.buy-user-info-text
        = link_to '#',class:"buy-user-info-fix" do
          変更する
          = icon("fas", "chevron-right")

    %section.buy-content.buy-user-info
      .buy-content-inner
        %h3 支払い方法
        %p.buy-user-info-text
          ************1198
          %br
          10/19
        = image_tag "jcb.svg", size: "32x20", alt: "jcb"
        = link_to '#',class:"buy-user-info-fix" do
          変更する
          = icon("fas", "chevron-right")