.main_container
  %section.product-box-container.ll-single-container
    %h1.product-name 
      = @product_name
    .product-main-content.clearfix
      .product-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{style:"left: 0px;"}
              - @product_image.each do |image|
                .owl-product{ style: 'width:300px'}
                  .owl-product-inner.is-higher-width
                    = image_tag "data:image/*;base64,#{image}",class: "owl-lazy",style:"opacity :1;"
          .owl-dots
            - @product_image.each do |image|
              .owl-dot
                .owl-dot-inner
                  = image_tag "data:image/*;base64,#{image}",class: "is-higher-width"

        - if @product_status.selling_status == 1
          .product-stop-badge_sold
            %div SOLD
        - if current_user.id == @seller.id && @product_status.selling_status == 9        
          .product-stop-badge_pause
            %div 公開停止中


      %table.product-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '#' do
                = @seller_name
              %div 
                .product-user-ratings
                  = icon("fas", "laugh",class: "icon-lauph")
                  %span
                  = @good_count
                .product-user-ratings
                  = icon("fas", "meh",class: "icon-meh")
                  %span
                  = @normal_count
                .product-user-ratings
                  = icon("fas", "frown",class: "icon-frown")
                  %span
                  = @bad_count
          %tr
            %th カテゴリー
            %td
              = link_to '#' do
                = @large_category_name
              = link_to '#' do
                .product-detail-table-sub-category
                  = icon("fas", "chevron-right")
                  = @medium_category_name
              = link_to '#' do
                .product-detail-table-sub-sub-category
                  = icon("fas", "chevron-right")
                  = @smail_category_name
          %tr
            %th ブランド
            %td
              = link_to '#' do
                = @brand_name
          %tr
            %th 商品のサイズ
            %td
              = @size_name
          %tr
            %th 商品の状態
            %td
              = @status_name
          %tr
            %th 配送料の負担
            %td
              = @shipping_charge_name
          %tr
            %th 配送の方法
            %td
              = @shipping_method_name
          %tr
            %th 配送元地域
            %td
              = @area_name
          %tr
            %th 発送日の目安
            %td
              = @shipping_time_name

    .product-price-box.text-center
      %span.product-price-box_price.bold
        ¥
        = @price
      %span.product-price-box_tax
        (税込)
      %span.product-price-box_shipping-fee
        = @shipping_charge_name


    - if current_user.id != @seller.id && @product_status.selling_status == 0
      = link_to buy_products_statuses_path(@product_status.id), class:"product-buy-btn" do
        購入画面に進む
    - if current_user.id != @seller.id && @product_status.selling_status == 1
      %button.product-buy-btn-sold 売り切れました


    .product-description.f14
      %p.product-description-inner
        = @description
      
      - if current_user == @seller.id
        .product-button-container.clearfix
          .product-button-left
            %button{class:"product-button product-button-like"}
              = icon("far fa-heart","heart",class:"icon-like")
              %span{class:"product-button-container span"} いいね！
            = link_to '#',class:"product-button product-button-report" do
              = icon("far fa-flag","flag")
              %span{class:"product-button-container span"} 不適切な商品の報告
          .product-button-right
            = link_to '#',class:"item-button-container a" do
              = icon("fas fa-lock","lock")
              %span{class:"product-button-container span"} あんしん・あんぜんへの取り組み

  - if current_user.id == @seller.id
    .l-single-container
      .listing-product-change-box
        = link_to "商品の編集",sell_edit_path(@product_status.id), class:"btn-default btn-red"
        %p.text-center or
        - if @product_status.selling_status == 0
          = form_for(@product_status, url: pause_sell_products_statuses_path, method: :post) do |f|
            = f.hidden_field :product_id, value: @product_status.id
            = f.submit "出品を一旦停止する", class:"btn-default btn-gray"
        - elsif @product_status.selling_status == 9
          = form_for(@product_status, url: resume_sell_products_statuses_path, method: :post) do |f|
            = f.hidden_field :product_id, value: @product_status.id
            = f.submit "出品を再開する", class:"btn-default btn-red"
        %button#modal-open-btn.btn-default.btn-gray この商品を削除する
        = link_to "", "#{@product_status.id}",method: :delete, id:'item-delete-btn'
        #overlay
          #modalWindow
            .modal-message-box
              .modal-head.bold 確認
              %div 削除すると二度と復活できません。<br>削除する代わりに停止することもできます。<br><br>本当に削除しますか？
            %button#modal-close-btn キャンセル
            %button#delete-comformation-btn 削除する

    .product-detail-message
      .message-container
        .message-content
          %form{class:"message-form",method:"POST"}
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type:"text",name:"body",class:"textarea-default"}
            %button{type:"submit",class:"message-submit btn-default btn-gray"}
              コメントする

  - else
    .product-detail-message
      .message-container
        /*.message-content
        /*message一覧表示*/
        .message-content
          %form{class:"message-form",method:"POST"}
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type:"text",name:"body",class:"textarea-default"}
            %button{type:"submit",class:"message-submit btn-default btn-gray"}
              コメントする

  %ul.nav-product-link-prev-next.clearfix
    %li.nav-product-link-prev
      = link_to '#' do
        = icon("fas", "chevron-left")
        短期攻略センター 地学基礎
    %li.nav-product-link-next
      = link_to '#' do
        ポーチ【ハワイ限定】
        = icon("fas", "chevron-right")

  .product-social-media-box
    .text-center
    %ul.social-media-box
      %li
        = link_to '#' do
          = icon("fab fa-3x", "facebook-square",class:"icon-facebook")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "twitter-square",class:"icon-twitter")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "line",class:"icon-line")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "pinterest-square",class:"icon-pinterest")
          
  
  .products-in-user-profile
    //この出品者の他の商品を表示
