.main_container
  %section.product-box-container.ll-single-container
    %h1.product-name 
      = @product_name
    .product-main-content.clearfix
      .product-photo
        .owl-carousel.owl-loaded.owl-drag
          .owl-stage-outer
            .owl-stage{style:"left:0px,width:2400px"}
              .owl-product
                .owl-product-inner.is-higher-height
                  = image_tag 'm50773888918_1.jpg',class: "owl-lazy",alt:"ZUCCa キャンパススニーカー",style:"opacity :1;"
          
          .owl-nav
            .owl-prev
              prev
            .owl-next
              next
              
          .owl-dots
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_1.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_2.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_3.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_4.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_5.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_6.jpg',class: "is-higher-height",height: "50"
            .owl-dot
              .owl-dot-inner
                = image_tag 'm50773888918_7.jpg',class: "is-higher-height",height: "50"

      %table.product-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '#' do
                = @buyer_name
              %div 
                .product-user-ratings
                  = icon("fas", "laugh",class: "icon-lauph")
                  %span
                  = @good_count
                .product-user-ratings
                  = icon("fas", "meh",class: "icon-meh")
                  %span
                  = @normal_count
                .product-user-ratings
                  = icon("fas", "frown",class: "icon-frown")
                  %span
                  = @bad_count
          %tr
            %th カテゴリー
            %td
              = link_to '#' do
                = @large_category_name
              = link_to '#' do
                .product-detail-table-sub-category
                  = icon("fas", "chevron-right")
                  = @medium_category_name
              = link_to '#' do
                .product-detail-table-sub-sub-category
                  = icon("fas", "chevron-right")
                  = @smail_category_name
          %tr
            %th ブランド
            %td
              = link_to '#' do
                = @brand_name
          %tr
            %th 商品のサイズ
            %td
              = @size_name
          %tr
            %th 商品の状態
            %td
              = @status_name
          %tr
            %th 配送料の負担
            %td
              = @shipping_charge_name
          %tr
            %th 配送の方法
            %td
              = @shipping_method_name
          %tr
            %th 配送元地域
            %td
              = link_to '#' do
                = @area_name
          %tr
            %th 発送日の目安
            %td
              = @shipping_time_name

    .product-price-box.text-center
      %span.product-price-box_price.bold
        ¥
        = @price
      %span.product-price-box_tax
        (税込)
      %span.product-price-box_shipping-fee
        送料込み
    = link_to '#',class:"product-buy-btn" do
      購入画面に進む

    .product-description.f14
      %p.product-description-inner
        = @description
      .product-button-container.clearfix
        .product-button-left
          %button{class:"product-button product-button-like"}
            = icon("far fa-heart","heart",class:"icon-like")
            %span{class:"product-button-container span"} いいね！
          = link_to '#',class:"product-button product-button-report" do
            = icon("far fa-flag","flag")
            %span{class:"product-button-container span"} 不適切な商品の報告
        .product-button-right
          = link_to '#',class:"item-button-container a" do
            = icon("fas fa-lock","lock")
            %span{class:"product-button-container span"} あんしん・あんぜんへの取り組み

  .product-detail-message
    .message-container
      .message-content
        %form{class:"message-form",method:"POST"}
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea{type:"text",name:"body",class:"textarea-default"}
          %button{type:"submit",class:"message-submit btn-default btn-gray"}
            コメントする

  %ul.nav-product-link-prev-next.clearfix
    %li.nav-product-link-prev
      = link_to '#' do
        = icon("fas", "chevron-left")
        短期攻略センター 地学基礎
    %li.nav-product-link-next
      = link_to '#' do
        ポーチ【ハワイ限定】
        = icon("fas", "chevron-right")

  .product-social-media-box
    .text-center
    %ul.social-media-box
      %li
        = link_to '#' do
          = icon("fab fa-3x", "facebook-square",class:"icon-facebook")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "twitter-square",class:"icon-twitter")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "line",class:"icon-line")
      %li
        = link_to '#' do
          = icon("fab fa-3x", "pinterest-square",class:"icon-pinterest")
          
  
  .products-in-user-profile
    //この出品者の他の商品を表示

  