.l-content
  %section.l-chapter-container
    %h2.l-chapter-head クレジットカード情報入力
    = form_for @creditcard, url: cardAdd_user_mypage_index_path, html: {class: 'l-single-inner registration-form'} do |f|
      .l-single-content
        .form-group
          = f.label 'カード番号', class: 'payment_card_no'
          %span.form-require
            必須
          %br/
          = f.text_field :card_number, autofocus: true, placeholder: '半角数字のみ', class: 'text_field'
        %ul.signup-card-list
          %li
            = image_tag "visa.svg", size: "49x20", alt: ""
          %li
            = image_tag "master-card.svg", size: "34x20", alt: ""
          %li
            = image_tag "saison-card.svg", size: "30x20", alt: ""
          %li
            = image_tag "jcb.svg", size: "32x20", alt: "visa"
          %li
            = image_tag "american_express.svg", size: "21x20", alt: ""
          %li
            = image_tag "dinersclub.svg", size: "32x20", alt: "visa"
          %li
            = image_tag "discover.svg", size: "32x20", alt: "visa"
        .form-group.signup-form-expire
          = f.label '有効期限', class: 'payment_card_expire'
          %span.form-require
            必須
          %br/
          .select-wrap.half
            = f.select :expiration_month, @month, {}, {class: 'select-default', id: 'payment_card_expire_mm'}
            %i.fas.fa-arrow-down
            %span 月
          .select-wrap.half
            = f.select :expiration_year, @year, {}, {class: 'select-default', id: 'payment_card_expire_yy'}
            %i.fas.fa-arrow-down
            %span 年 
        .form-group
          = f.label 'セキュリティーコード', class: 'payment_card_security_code'
          %span.form-require
            必須
          %br/
          = f.text_field :secrity_code, autofocus: true, placeholder: 'カード背面4桁もしくは3桁の番号', class: 'input-default', id: 'payment_card_security_code'
          .signup-seqcode
            .signup-seqcode-text
              %span.form-question ?
              カード裏面の番号とは?
            .signup-seqcode-info
              カードの裏面をご参照ください。
        = f.submit "追加する", class: 'btn-default btn-red', id: 'submit-button'