= render partial: 'common/global_header'
%nav.bread-crumbs
%main.l-container.clearfix
  = render partial: 'profile_content'
  = render partial: 'profile_sideber'
= render partial: 'common/global_pc_banner'
= render partial: 'common/global_footer'
