%header.header__wrapper
  .header__container
    .header__inner__top
      .logo__item
        = link_to '#', class: 'logo__item__link' do
          = image_tag '/images/logo.svg', alt: 'logo', class: 'logo__item__image'
      - if user_signed_in?
        .user-info__samll-box
          .user-info__samll-box__icon
            = link_to '#', class: 'samll-box__icon__link' do
              %i.fas.fa-bell.lightsteelblue.fa-2x
          .user-info__samll-box__icon
            = link_to '#', class: 'samll-box__icon__link' do
              %i.fas.fa-check-circle.lightsteelblue.fa-2x
          .user-info__samll-box__icon
            = link_to '#', class: 'samll-box__icon__link' do
              %i.fas.fa-smile.lightsteelblue.fa-2x
      - else
        .sign-info__container__sm
          = link_to step0_signup_index_path, class: 'sign-info__button signup__color' do
            新規会員
          = link_to new_user_session_path, class: 'sign-info__button signin__color' do
            ログイン
      .search__box__lg
        %form.search__bar
          %input.search__bar__text{name: 'keyword', placeholder:'何かお探しですか?', type:'search'}
          %button.search_bar__btn
            %i.fas.fa-search.fa-lg
    .search__box__sm
      %form.search__bar
        %input.search__bar__text{name: 'keyword', placeholder:'何かお探しですか?', type:'search'}
        %button.search_bar__btn
          %i.fas.fa-search.fa-lg
    .header__inner__bottom
      %nav.serch__samll-box
        = link_to '/category/', class: 'serch__samll-box__link' do
          %i.fas.fa-list-ul.fa-fw.red
          カテゴリーから探す
        = link_to '/brand/', class: 'serch__samll-box__link' do
          %i.fas.fa-tags.fa-fw.red
          ブランドから探す
      .serch__items__box
        .serch__by__category
          = link_to '#', class: 'serch__by__category__link' do
            %i.fas.fa-list-ul.fa-fw.red
            カテゴリーから探す
          .category__container
            %ul.large__category__container
              - @category_parent.each do |parent|
                %li.large__category__inner
                  = link_to "#{parent.name}", "/category/#{parent.id}", class: 'category__text'
                  %ul.medium__category__container
                    = render partial: "layouts/header_child_category", collection: @category_children1, as: "category"
        .serch__by__brand
          = link_to '#', class: 'serch__by__category__link' do
            %i.fas.fa-tags.fa-fw.red
            ブランドから探す
          .category__container
            %ul.large__category__container
              - @brands.each do |brand|
                %li.large__category__inner
                  = link_to "#{brand.name}", "/brand/#{brand.id}", class: 'category__text'
      %ul.user-info__items
        - if user_signed_in?
          %li.user-info__item
            = link_to '#', class: '' do
              %i.fas.fa-heart.lightsteelblue.fa-lg
              いいね! 一覧
          %li.user-info__item
            = link_to '#', class: '' do
              %i.fas.fa-bell.lightsteelblue.fa-lg
              お知らせ
          %li.user-info__item
            = link_to '#', class: '' do
              %i.fas.fa-check-circle.lightsteelblue.fa-lg
              やることリスト
          %li.user-info__item.user-info
            = link_to '#', class: '' do
              %i.fas.fa-smile.lightsteelblue.fa-lg
              マイページ
            .user-info__window
              .user-info__window__inner
                %figure.user-info__background
                  .user-info__icon
                    = image_tag "/images/member_photo_noimage_thumb.png", class: "user-info__icon__image"
                  %figcaption.user-info__nickname
                    = current_user.nickname if user_signed_in?
                  %ul.user-info__evaluation__container
                    %li.user-info__evaluation__inner
                      = link_to '#', class: 'user-info__evaluation__text' do
                        .user-info__evaluation__sales
                          売上金 :
                        .user-info__evaluation__sales
                          = "¥ 0"
                    %li.user-info__evaluation__inner
                      = link_to '#', class: 'user-info__evaluation__text' do
                        .user-info__evaluation__sales
                          出品数 :
                        .user-info__evaluation__sales
                          P 0
                .user-info__link__box
                  %ul.user-info__link__container
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        いいね一覧
                        %i.fas.fa-angle-double-right
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        出品した商品 - 出品中
                        %i.fas.fa-angle-double-right
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        出品した商品 - 取引中
                        %i.fas.fa-angle-double-right
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        出品した商品 - 売却済み
                        %i.fas.fa-angle-double-right
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        購入した商品 - 取引中
                        %i.fas.fa-angle-double-right
                    %li.user-info__link__inner
                      = link_to '#', class: 'user-info__link__text' do
                        購入した商品 - 過去の取引
                        %i.fas.fa-angle-double-right
        -else
          .sign-info__container__lg
            = link_to step0_signup_index_path, class: 'sign-info__button signup__color' do
              新規会員
            = link_to new_user_session_path, class: 'sign-info__button signin__color' do
              ログイン
