%footer.footer__wrapper
  %nav.nav-footer__container
    .nav-service__inner
      %h2.nav-service__title
        メルカリについて
      %ul.nav-service__box
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            会社概要（運営会社）
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            採用情報
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            プレスリリース
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            公式ブログ
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            メルカリロゴ利用ガイドライン
        = link_to '#', class: 'nav-service__social-icon twitter' do
          %i.fab.fa-twitter.fa-3x
        = link_to '#', class: 'nav-service__social-icon facebook' do
          %i.fab.fa-facebook-square.fa-3x
    .nav-service__inner
      %h2.nav-service__title
        ヘルプ＆ガイド
      %ul.nav-service__box
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            メルカリガイド
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            らくらくメルカリ便
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            ゆうゆうメルカリ便
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            大型メルカリ便
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            車体取引ガイド
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            メルカリあんしん・あんぜん宣言！
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            偽ブランド品撲滅への取り組み
        %li.nav-service__text
          = link_to '#', class: 'nav-service__text--white' do
            メルカリボックス
    .nav-inlineblock__inner
      %h2.nav-rule__title
        プライバシーと利用規約
      .nav-rule__box
        %ul.nav-rule__items
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              プライバシーポリシー
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              メルカリ利用規約
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              あんしんスマホサポート制度に関する利用特約
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              コンプライアンスポリシー
      .nav-rule__box
        %ul.nav-rule__items
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              個人データの安全管理に係る基本方針
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              特定商取引に関する表記
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              資金決済法に基づく表示
          %li.nav-rule__text
            = link_to '#', class: 'nav-rule__text--white' do
              法令順守と犯罪抑止のために
    .nav-inlineblock__inner
      %h2.nav-inlineblock__title
        国
      .nav-language__box
        %ul.nav-language__items
          %li.nav-language__text
            = link_to '#', class: 'nav-language__text--white' do
              日本
            = link_to '#', class: 'nav-language__text--white' do
              United States
  .signature__container
    = link_to '#', class: 'signature__link' do
      %img{ class: "signature__img", alt: "", src: "/images/logo-white.svg", height: "60", width: "60"}
    %span.signature__text
      ©2019 Mercari